
.sectionbg {
background-color: rgb(199, 197, 197);
width: 100%;
}
.flexsec {
display: flex;
align-items: flex-start;
justify-content: start;
margin-left: 2px;
padding: 12px;
flex-direction: column;

}

.flexsec .ligne {
border-bottom: 5px solid red;
padding-top: 12px;
width: 40%;
}
.sectioncardscan {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 20px;
padding: 40px;

}
.btndecou {
margin: 12px 41px 12px 73px;
padding: 8px;
border: none;
border-radius: 8px;
background-color: red;
color: white;
}