html,
body,
#root {
  height: 100%;
}

.containerquiz {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('https://img.freepik.com/free-photo/geometric-background-with-copy-space_24972-1859.jpg?w=900&t=st=1669912017~exp=1669912617~hmac=6e409e00d3546e4721bffbcbaf860eb3020ec57be8c8377d41fbd9417905a313');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding: 35px;
}

.containerquiz .card {
  max-width: 500px;
  width: 100%;
  text-align: center;
}

label.radio {
  display: block;
  text-align: left;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

label.radio+.radio {
  margin-left: 0;
}

label.radio input {
  margin-right: 10px;
}
label.radio input:hover {
  margin-right: 20px;
  
}
.has-background-light:hover {
    background-color: #b8b6b6!important;
    
}

.imagebox {
  
  height: 250px;
  object-fit: cover;
  object-position: center;
  
  
}

.imagebox image {
width: 100%;
height: 100%;
}